Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [4]:
str = "Piyush"
l = [1,2,3,4,5,"prashant", 25.3 , True]
float = 35.64
tuple = (10,20,30,40)
print(str , l , float , tuple )

Piyush [1, 2, 3, 4, 5, 'prashant', 25.3, True] 35.64 (10, 20, 30, 40)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [6]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [ ]:
a = 12
b = 6
print(a/b)
print(a%b)
print(a//b)
print(a**b)

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [1]:
l = [1,2,3,4,5,"Prashant" , 235.47,True,False]
for i  in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [2]:
a = int(input("enter the number A = "))
b = int(input("enter the number B = "))
count = 0
while a%b ==0:
    a = a/b
    count = count +1

if a == 1:
    print(f"{a} is pruely divisible by {b} and can be divides {count } times") #f-strings are string literals that have an f at the beginning and curly braces containing expressions that will be replaced with their values
else:
    print(f"{a} is not pruely divisible by {b}")

enter the number A =  16
enter the number B =  2

1.0 is pruely divisible by 2 and can be divides 4 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [3]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i%3 == 0:
        print("Element is divisible by 3")
    else:
        print("Element is not divisibe by 3")

Element is not divisibe by 3
Element is not divisibe by 3
Element is divisible by 3
Element is not divisibe by 3
Element is not divisibe by 3
Element is divisible by 3
Element is not divisibe by 3
Element is not divisibe by 3
Element is divisible by 3
Element is not divisibe by 3
Element is not divisibe by 3
Element is divisible by 3
Element is not divisibe by 3
Element is not divisibe by 3
Element is divisible by 3
Element is not divisibe by 3
Element is not divisibe by 3
Element is divisible by 3
Element is not divisibe by 3
Element is not divisibe by 3
Element is divisible by 3
Element is not divisibe by 3
Element is not divisibe by 3
Element is divisible by 3
Element is not divisibe by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutable = Mutable data types are those whose values can be changed after they are created. 
This means you can modify the content of a mutable object without creating a new object.

In [8]:
l = [1,2,3,4,5,"prashant"]
l[4]

5

Immutable = Immutable data types are those whose values cannot be modified once they are created. When you want to change the value of an immutable object, a new object is created with the modified value, while the original object remains unchanged.

In [10]:
str = "Prashant"
str(1)

TypeError: 'str' object is not callable